p {
  margin: 5px 0;
}

.container {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.sort-dropdown {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.grid-container {
  display: flex; /* Flexbox를 사용하여 아이템을 정렬 */
  flex-wrap: wrap; /* 아이템을 여러 줄로 감싸기 */
  gap: 16px; /* 아이템 간의 간격 */
  max-height: 900px; /* 고정 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  padding: 20px; /* 여백 설정 */
  border-radius: 8px; /* 선택적으로 경계선 둥글게 처리 */
  justify-content: space-around;
}

/* grid-item 클래스 스타일 */
.grid-item {
    background-color: #f0f4f3;
    width: 150px;
    height: 240px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; /* 가로 스크롤 시 크기 유지 */
    cursor: pointer;
}

.grid-container::-webkit-scrollbar {
  display: none;
}

.image-placeholder {
  width: 100%;
  height: 100px;
  background-color: #d6efd8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder img {
  max-width: 100%;
  max-height: 100%;
}

.item-details h4 {
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.item-details p {
  font-size: 14px;
  color: #333;
}

.t-home-header {
  position: fixed;
  top: 0;
}

.cate-page .selectContainer {
  padding-top: 60px;
}

.search-tab .selectContainer {
  padding-top: 0px;
}