.h-head-text {
  font-size: 24px;
  font-weight: bold;
  color: #436850;
  padding: 0 16px;
}

.h-home-header {
  position: fixed;
  background-color: white; /* 배경색을 흰색으로 설정하여 가독성 향상 */
  z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
  display: flex; /* 수평 배치 */
  align-items: center; /* 세로 가운데 정렬 */
  border-bottom: 1px solid #f5f5f5;
  width: 400px;
}

.h-header-img {
  width: 20px;
  margin-right: 130px;
  margin-left: 20px;
  cursor: pointer;
}
.h-list {
  padding: 4rem 2rem;
  background-color: #fff;
}

.h-info {
  flex-grow: 1;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%; /* 부모 요소의 너비를 초과하지 않도록 설정 */
  overflow: hidden; /* 부모 요소를 넘치는 내용을 숨김 */
}

.h-info p {
  overflow: hidden;
  white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 설정 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 "..."로 표시 */
  max-width: 100%; /* 부모 요소의 너비에 맞춰 조정 */
  margin: 0;
}

.h-info h3 {
  margin: 0;
  font-size: 15px;
}

.h-info p {
  margin: 0;
  font-size: 13px;
  color: #767676;
}

.h-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 10%;
}

.h-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #f5f5f5;
}

.nextpage-btn {
  display: flex;
  width: 12px;
  height: 12px;
  align-self: center;
}
